@charset "UTF-8";

:root {
    --cor_1: #211A1D; /* Raisin black */
    --cor_2: #6320EE; /* Eletric indigo */
    --cor_3: #8075FF; /* Medium slate blue */
    --cor_4: #F8F0FB; /* Magnolia */
    --cor_5: #F2F2F2; /* Ash gray */
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black
}

body {
    background-color: var(--cor_5);
}

.fundo {
    background-image: url(../Images/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

header img {
    filter: invert(100%);
    width: 30px;
    cursor: pointer;
}

header > div > div > img {
    display: none;
}

header h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    cursor: pointer;
}

nav {
    display: none;
}

nav a {
    color: white;
}

#main_parte_1 {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

#main_parte_1 div {
    position: relative;
    height: 33vh;
    width: 85vw;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#main_parte_1 > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 0.2s ease-in-out;
}

#img-1, #img-2, #img-3 {
    position: absolute;
}

#div-img-3 {
    display: none;
}

#img-1 {
    filter: brightness(50%);
}

#img-2 {
    filter: brightness(40%);
}

#main_parte_1 div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
}

#main_parte_1 div div p, h2 {
    color: white;
    width: 90%;
}

#main_parte_1 a {
    color: var(--cor_4);
    background-color: var(--cor_3);
    font-size: 1em;
    font-family: monospace;
    font-weight: bolder;
    padding: 5px 7px;
    border-radius: 3px;
}

#main_parte_1 p.data {
    color: rgba(242, 242, 242, 0.5);
    font-weight: bolder;
}

#main_parte_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_parte_2 div {
    background-color: white;
    height: auto;
    width: 65vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    margin-top: 40px;
}

#main_parte_2 > div > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    transition: 0.2s ease-in-out;
}

#main_parte_2 > div > img:hover {
    filter: brightness(50%);
    transform: scale(1.02);
}

#main_parte_2 > div > div {
    padding: 15px;
}

.data {
    font-size: 0.9em;
}

#main_parte_2 > div > div > p {
    width: 90%;
    margin: 15px 0px;
}

#main_parte_2 > div > div > h2 {
    font-family:  'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #211A1D;
    width: 90%;
    transition: 0.2s ease-in-out;
}

#main_parte_2 > div > div > h2:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#main_parte_2 a {
    color: var(--cor_2);
    font-weight: bolder;
}

#main_parte_2 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}