@charset "UTF-8";

:root {
    --cor_1: #19191B; /* Eerie black */
    --cor_2: #6320EE; /* Eletric indigo */
    --cor_3: #8075FF; /* Medium slate blue */
    --cor_4: #F8F0FB; /* Magnolia */
    --cor_5: #F2F2F2; /* Ash gray */
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black
}

body {
    background-color: var(--cor_5);
}

.fundo {
    position: absolute;
    background-image: url(../Images/medio/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

header img {
    filter: invert(100%);
    width: 30px;
    cursor: pointer;
}

header > div > div {
    display: none;
}

header h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    cursor: pointer;
}

nav#botoes {
    display: none;
}

nav a {
    color: white;
}

#main_parte_1 {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

#main_parte_1 div {
    position: relative;
    height: 33vh;
    width: 85vw;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#main_parte_1 > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: 0.2s ease-in-out;
}

#img-1, #img-2, #img-3 {
    position: absolute;
}

#div-img-3 {
    display: none;
}

#img-1 {
    filter: brightness(50%);
}

#img-2 {
    filter: brightness(40%);
}

#main_parte_1 div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
}

#main_parte_1 div div p, h2 {
    color: white;
    width: 90%;
}

#main_parte_1 a {
    color: var(--cor_4);
    background-color: var(--cor_3);
    font-size: 1em;
    font-family: monospace;
    font-weight: bolder;
    padding: 5px 7px;
    border-radius: 3px;
}

#main_parte_1 p.data {
    color: rgba(242, 242, 242, 0.5);
    font-weight: bolder;
}

#main_parte_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_parte_2 div {
    background-color: white;
    height: auto;
    width: 70vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    margin-top: 40px;
}

#main_parte_2 > div > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    transition: 0.2s ease-in-out;
}

#main_parte_2 > div > img:hover {
    filter: brightness(50%);
    transform: scale(1.02);
}

#main_parte_2 > div > div {
    padding: 15px;
}

.data {
    font-size: 0.9em;
}

#main_parte_2 > div > div > p {
    width: 90%;
    line-height: 1.4em;
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.6);
}

#main_parte_2 > div > div > h2 {
    font-family:  'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #211A1D;
    width: 90%;
    transition: 0.2s ease-in-out;
}

#main_parte_2 > div > div > h2:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#main_parte_2 a {
    color: var(--cor_2);
    font-weight: bolder;
}

#main_parte_2 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

nav#pagination {
    margin: 50px 0px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

#pagination div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

#pagination a {
    padding: 10px;
    font-weight: bolder;
}

div.default {
    transition: 0.3s ease-in-out;
}

div.default:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

div.default a {
    color: black;
}

div.selected {
    background-color: black;
    border-radius: 3px;
}

div.selected a {
    color: white;
}

div.seta {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 1.1em;
}

div.seta:hover {
    background-color: black;
    color: white;
}

div.seta a {
    position: relative;
    color: black;
    top: -3.5%;
    font-weight: bolder;
    font-size: 1.4em;
    transition: 0.3s ease-in-out;
}

div.seta a:hover {
    color: white;
}

#popular {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-color: white;
}

#popular h2 {
    color: black;
    padding-top: 60px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

#popular div {
    display: flex;
    width: 420px;
    height: 69px;
    overflow: hidden;
}

#popular div img {
    height: 69px;
    width: 69px;
}

#popular div div {
    display: flex;
    flex-direction: column;
    row-gap: 10%;
}

#popular div div h3 {
    font-weight: bolder;
    font-size: 1.1em;
    margin-left: 5%;
}

#popular div div p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 5%;
}

#about_site {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#about_site h2 {
    color: black;
    text-align: center;
    padding-top: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
}

#about_site p {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    line-height: 1.6em;
    width: 80vw;
}

#social-media-2 {
    display: flex;
    background-color: white;
    column-gap: 20px;
    justify-content: center;
    padding-bottom: 30px;
}

#social-media-2 img {
    width: 25px;
}

footer {
    padding: 40px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
    background-color: #19191B;
}

footer h2 {
    padding: 40px 0px 13px 0px;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
}

footer a {
    text-align: center;
    color: #696969;
    cursor: pointer;
}

footer p {
    text-align: center;
    color: rgb(105, 105, 105);
    width: 75vw;
    line-height: 1.5em;
}

footer div.desenho_linha {
    width: 60vw;
    height: 1px;
    background-color: #202022;
}

#email_footer {
    display: flex;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#email_footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: #161618;
    padding: 10px;
}

#email_footer span {
    color: white;
    font-size: 2em;
    padding: 0px 10px 0px 5px;
}

#email_footer #email {
    border: none;
    caret-color: white;
    color: white;
    background-color: #161618;
}

#email_footer #email:focus {
    outline: none;
}

#email_footer #submit {
    background-color: var(--cor_3);
    height: 50px;
    width: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}